@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* Global Variables */
:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --verified-gray: hsla(0, 0%, 81%, 0.5);
  --paragraph-gray: hsla(0, 0%, 81%, 0.7);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

/* Global Rules */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
a,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

/* ========================== */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-grayish-blue);
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--White);
  position: relative;
}

main {
  display: grid;
  width: 1100px;
  padding: 10px 0;
  gap: 20px;
  grid-template-areas: "Daniel Daniel Jonathan Kira" " Jeanette Patrick Patrick Kira";
}

@media (width <=992px) {
  body {
    align-items: normal;
  }

  main {
    grid-template-areas: "Daniel" "Jonathan" "Jeanette" "Patrick" "Kira";
    padding: 10px;
  }

  .card-holder {
    width: 100%;
  }

}

.card-holder:first-of-type {
  grid-area: Daniel;
  background-color: var(--Moderate-violet);
}

.card-holder:nth-of-type(2) {
  grid-area: Jonathan;
  background-color: var(--Very-dark-grayish-blue);
}

.card-holder:nth-of-type(3) {
  grid-area: Jeanette;
  background-color: white;
  color: hsl(219, 29%, 14%);
}

.card-holder:nth-of-type(3) h1 {
  color: hsl(219, 29%, 14%);
}

.card-holder:nth-of-type(3) .card-header .info p {
  color: hsla(217, 30%, 14%, 0.5);
}

.card-holder:nth-of-type(3) p:last-of-type {
  color: hsla(217, 30%, 14%, 0.7);
}

.card-holder:nth-of-type(4) {
  grid-area: Patrick;
  background-color: var(--Very-dark-blackish-blue);
}

.card-holder:last-of-type {
  grid-area: Kira;
  background-color: white;
  color: hsl(219, 29%, 14%);
}

.card-holder:last-of-type h1 {
  color: hsl(219, 29%, 14%);
}

.card-holder:last-of-type .card-header .info p {
  color: hsla(217, 30%, 14%, 0.5);
}

.card-holder:last-of-type p:last-of-type {
  color: hsla(217, 30%, 14%, 0.7);
}

.card-holder {
  padding: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-holder h1 {
  font-size: 1rem;
  margin: 0;
  color: var(--Light-gray);
}

.card-holder .card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-holder .card-header .info {
  margin-left: 20px;
}

.card-holder .card-header .info p {
  font-size: calc(14rem / 16);
  color: var(--verified-gray);
}

.card-holder img {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid blue;
}

h2 {
  font-size: calc(22rem / 16);
  margin: 20px 0;
}

.card-holder p:last-of-type {
  color: var(--paragraph-gray);
  font-size: calc(14rem / 16);
  line-height: 1.4;
}